<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>Software Engineer <br/> Internet Entrepreneur <br/> <a href="http://theclunkerjunker.com">The Clunker Junker</a> Founder</p>

  <hr/>

  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>

  <hr/>

  <div>
    <div id="pages">
      <h2>Pages</h2>

      <ul class="sidebar-nav">
        <li><a href="/about">About me</a></li>
      </ul>

    </div>
  </div>

  </ul>
</nav>