Follow me:
<div id="stalker">
  {% if site.theme.social.github %}
  <a title="{{ site.theme.social.github }} on Github" href="http://github.com/{{ site.theme.social.github }}">
    <i class="icon-github-sign"></i>
  </a>
  {% endif %}

  {% if site.theme.social.twitter %}
  <a title="{{ site.theme.social.twitter }} on Twitter" href="http://twitter.com/{{ site.theme.social.twitter }}">
    <i class="icon-twitter-sign"></i>
  </a>
  {% endif %}

  {% if site.theme.social.linkedin %}
  <a title="{{ site.theme.social.linkedin }} on Linkedin" href="http://linkedin.com/in/{{ site.theme.social.linkedin }}">
    <i class="icon-linkedin-sign"></i>
  </a>
  {% endif %}

  {% if site.theme.social.stackoverflow %}
  <a title="{{ site.theme.name }} on StackOverflow" href="{{site.theme.social.stackoverflow}}">
    <i class="icon-stackexchange"></i>
  </a>
  {% endif %}

  {% if site.theme.social.gplus %}
  <a title="{{ site.theme.name }} on Google+" href="{{site.theme.social.gplus}}">
    <i class="icon-google-plus-sign"></i>
  </a>
  {% endif %}
</div>